/*
Author: Luiz Fernando
Github: github.com/TronGuy
License: MIT
Images: Unplash.com
*/
@keyframes leftside{

    from{
         left:100%
    }

    to{

      left:0      
    }
}

@keyframes rightside{

  from{right:100%}
  to{right: 0;}
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,body{

  height: 100%;
  overflow-x: hidden;
}

.container{

    width: 100%;
    height: 100%;
}

.container-btn{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index: 0;

}

.bars{

  width: 15px;
  height: 45px;
  background-color:white;
  position: absolute;
  margin-right:10px ;  
}

.bars:nth-of-type(1){

  transform: rotate(45deg);
  margin-top: -20px;
}

.bars:nth-of-type(2){

  transform: rotate(-45deg);
  margin-top: 23px;
}

.bars2{

  width: 15px;
  height: 45px;
  background-color:white;
  position: absolute;
  margin-left:10px ;
}

.bars2:nth-of-type(1){

  transform: rotate(-45deg);
  margin-top: -20px;
}

.bars2:nth-of-type(2){

  transform: rotate(45deg);
  margin-top: 23px;
}

.btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background-color: rgba(0, 0,0 , 0.7);
  border:4px solid white;
  border-radius: 65px;
  margin:0 35px;
}

.btn:hover{
  cursor:pointer;
  background-color: rgba(0, 0,0 , 0.9);

}

.slider img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position:center center;
  z-index: -1;

}

.previously{
  animation-name: leftside;
  animation-duration: 3s;

}

.next{

  animation-name: rightside;
  animation-duration: 3s;
  -moz-animation-duration: 3s;
  -moz-animation-name: rightside;

}